h1 User Expenses with id: #{user.user_id}
table(style='width:50%', border='1')
    tr 
        th expense_id 
        th category 
        th amount_GBP 
        th expense_date 
        th description 
    each expense in user.expenses 
        tr
            td #{expense.expense_id}
            td #{expense.category}
            td #{expense.amount_GBP}
            td #{expense.expense_date}
            td #{expense.description}
p The total is #{user.expenses.slice(-1)[0][0]["total"]} 