doctype html
head
  title Income
  style.
    body {
      font-family: Verdana;
      font-size: 15px;
      background: #4169E1}

    .income_table {
      border: 1px solid;
      border-collapse: collapse;
      }

    .center {
      width:70%; 
      margin-left:15%; 
      margin-right:15%;
      }

    .tablle {
      padding: 15px;
      background-color: #ffffff;
    }

    .header {
      color: #ffffff;
      text-align: center;
      font-style: italic;
      text-transform: uppercase;
    }

    .thh {
      height: 70px;
      background-color: rgb(230, 230, 230);
      padding: 20px; 
      text-transform: uppercase;}

    .trr {
      padding: 20px;
    }

    .total {
      text-align: center;
      color: #ffffff;
      font-size: 25px;
    }

    .size {
      font-size: 25px;
    }
head
  h1.header Income of user ID: #{user.user_id}
  table.income_table.tablle.center
    p
      tr
        th.income_table.thh Income id
        th.income_table.thh Category
        th.income_table.thh Amount 
        th.income_table.thh Date
      each income in user.income[0]
        tr
          td.income_table.trr #{income.i_id}
          td.income_table.trr #{income.i_category}
          td.income_table.trr #{income.i_amount_GBP}
          td.income_table.trr #{income.i_date}

total_income
  p.total The total (GBP) = #{user.income[1] [0] ['total']}
