doctype html 
head 
    title #{title}
style.
    body {
        font-family: Verdana;
        font-size: 15px;
        background: #4169E1}

    .expense_table {
        border: 1px solid;
        border-collapse: collapse;
        }

    .center {
        width:70%; 
        margin-left:15%; 
        margin-right:15%;
        }

    .tablle {
        padding: 15px;
        background-color: #ffffff;
    }

    .header {
        color: #ffffff;
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
    }

    .thh {
        height: 70px;
        background-color: rgb(230, 230, 230);
        padding: 20px; 
        text-transform: uppercase;}

    .trr {
        padding: 20px;
    }

    .total {
        text-align: center;
        color: #ffffff;
        font-size: 25px;
    }

    .size {
        font-size: 25px;
    }


body 
    h1.header USERS
    table.expense_table.tablle.center
        p
            tr
                th.expense_table.thh user_id
                th.expense_table.thh expense
                th.expense_table.thh income
                th.expense_table.thh report
            each user in allusers
                tr
                    td.expense_table.trr #{user}
                    td.expense_table.trr 
                        a(href='http://localhost:3000/expenses/'+user) expense_user #{user}
                    td.expense_table.trr 
                        a(href='http://localhost:3000/income/'+user) income_user #{user}
                    td.expense_table.trr 
                        a(href='http://localhost:3000/report/'+user) user_report #{user}