h1 User Income of  id: #{user.user_id}
p 
table(style='width:50%', border='1')
  tr
    th Income id
    th Category
    th Amount
    th Date
  for income in user.income
    tr
      td #{income.i_id}
      td #{income.i_category}
      td #{income.i_amount_GBP}
      td #{income.i_date}
p The total is #{user.income.slice(-1)[0][0]["total"]}
